{% extends "bbq_app/base.html" %}

{% block title %}HOME{% endblock %}

{% block content %}
    <h1>🍖 はなこのBBQ準備アプリ 🍖</h1>
    <div class="box">
        <p>ここは、BBQの持ち物や予算を管理するページになります！</p>
        <p><strong>現在のステータス：開発中（順調！）</strong></p>
    <br>
    <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">ログアウト</button>
    </form>
    <p><a href="{% url 'event_create' %}">+新規イベント作成</a></p>
    <h2>開催予定のイベント</h2>
    <ul>
        {% for event in upcoming_events %}
        <li>
            {{ event.name }} {{ event.held_at|date:"Y年m月d日 H:i "}} {{ event.location }}
            <a href="{% url 'item_edit' event.id %}">詳細</a>
        </li>
        {% empty %}
        <li>直近のイベント予定はありません</li>
        {% endfor%}
    </ul>
    <a href="{% url 'event_list' %}">全イベント詳細</a>
{% endblock %}

{% block footer %}
{% include "bbq_app/partials/footer_nav.html" %}
{% endblock %}