{% extends "bbq_app/base.html" %}

{% block content %}
<h1>参加準備ページ</h1>

{% if not invitation.guest_name %}
    <p>お名前を入力してください。</p>

    <form method="post">
        {% csrf_token %}
        <input type="text" name="guest_name" placeholder="名前を入力">
        <button type="submit">登録</button>
    </form>
{% else %}
    <p>{{ invitation.guest_name }} さんの担当持ち物</p>

    <ul>
        {% for event_item in assigned_items %}
        <li>
            {{ event_item.bbq_item.name }}
        </li>
        {% empty %}
            <li>担当の持ち物はありません。</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}