{% extends "bbq_app/base.html" %}

{% block header %}
    {% include "bbq_app/partials/event_header.html" %}
{% endblock %}

{% block content %}
<h1>{{ event.name }}の持ち物一覧</h1>
<p>
    準備進捗：{{ selected_count }} / {{ total_count }}
        ({{ progress_percent }}%)
</p>

<form method="POST">
    {% csrf_token %}

<ul>
    {% for item in items %}
        <li>
            <label>
                <input type="checkbox"
                       name="selected_items"
                       value="{{ item.id }}"
                       {% if item.is_selected %}checked{% endif %}>
                {{ item.bbq_item.name }}
            </label>
        </li>
    {% endfor %}
</ul>

<a href="{% url 'event_duplicate' event.id %}">
    このイベントを複製
</a>

<button type="submit">保存</butoon>
</form>
{% endblock %}
