{% extends "bbq_app/base.html" %}
{% block title %}マイページ{% endblock %}

{% block content %}
<h1>マイページ</h1>
<p>こちらで登録アカウント内容を変更できます。</p>

<div class="mypage-menu">
    <a class="btn" href="{% url 'mypage_name' %}">ユーザー名変更</a>
    <a class="btn" href="{% url 'mypage_email' %}">メールアドレス変更</a>
    <a class="btn" href="{% url 'mypage_password' %}">パスワード変更</a>
    <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">ログアウト</button>
</form>
</div>
{% endblock %}


